.bubble {
  padding: 15px;
  border-radius: 10px;
  color: #ffffff;
  display: inline-block;
}

.conrad-bubble {
  border-bottom-left-radius: 2px;
  background-color: #1c2636;
}

.master-bubble {
  border-bottom-right-radius: 2px;
  background-color: #03398f;
}

.bubble-wrapper {
  padding: 5px;
}

.master-bubble-wrapper {
  text-align: right;
}
